body {
  font-family: Ariel, Verdana, Helvetica, sans-serif;
  font-size: Medium;
  color: #000;
  background-color: #fcfcfc;/* off white */
  text-align: center;
  padding-top: 75px;

}

h1 {

    color: #494cff;
    Font-family: Ariel;

}/* overrides body font color style above */

/* Navigation */

.nav-item {
  font-family: 'Scada', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

/* Carousel */

.carousel-pictures {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  padding-bottom: 25px;
}

.carousel-indicators {
  padding-bottom: 25px;
}

/* Featureettes */

.featurette-pictures {
  border-style: solid;
  border-color: black;
}

.card-body {
  border-style: solid;
  border-color: black;
}

/* myResume */

.download-buttons {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}
